.title-label {
  text-align: center;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

ion-title {
  font-size: 24px; /* Aumentar tamaño de la fuente */
  color: #ffffff; /* Color del texto */
  text-transform: uppercase; /* Cambiar el texto a mayúsculas */
  text-align: center;
}

.table-container {
  display: flex;                /* Usamos flexbox para centrar */
  justify-content: center;      /* Centra horizontalmente */
  align-items: center;          /* Centra verticalmente */
  margin: 16px 0;               /* Margen alrededor del contenedor */
  background: transparent;      /* Asegura que el fondo del contenedor sea transparente */
}

table {
  border-collapse: collapse;    /* Para que las celdas no tengan espacio entre ellas */
  width: auto;                  /* Ajusta el ancho automáticamente */
  max-width: 90%;               /* Limita el ancho máximo de la tabla */
  margin: 0 auto;               /* Centra la tabla */
  background: transparent !important; /* Fondo de la tabla transparente */
}

th, td {
  padding: 10px;                /* Espaciado interno en celdas */
  text-align: center;           /* Centra el texto en las celdas */
  background: transparent !important; /* Fondo de celdas transparente */
}

.highlight {
  color: green;                /* Aplica color verde al nombre del cuadrante seleccionado */
}

.background-image {
  position: absolute; /* Coloca la imagen detrás de otros elementos */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que la imagen cubra todo el contenedor */
  z-index: -1; /* Envía la imagen al fondo */
}

.v1_4 {
  width: 100%;
  height: 100%;
  background: rgba(13, 42, 52, 0.9); /* Color azul oscuro con opacidad */
  position: absolute; /* Coloca el filtro en la parte superior */
  top: 0; /* Alineado al inicio */
  left: 0; /* Alineado al inicio */
  z-index: 0; /* Asegura que el filtro esté sobre la imagen de fondo */
}

.v1_307 {
  width: 413px;
  height: 78px;
  background: url("./sectores.page.html");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 720px;
  overflow: hidden;
}

.v1_308 {
  width: 413px;
  height: 78px;
  background: rgba(8,25,32,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(49,146,234,1);
  border-radius: 15px;
  overflow: hidden;
}

.v1_309 {
  width: 390px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 17px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}


.v1_346 {
  width: 205px;
  height: 408px;
  background: url("./sectores.page.html");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 8px;
  overflow: hidden;
}
.v1_347 {
  width: 205px;
  height: 395px;
  background: rgba(7,25,31,0.5299999713897705);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_349 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 240px;
  left: 30px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.predicciones-card-media {
  display: none;
}

.predicciones-card {
  position: absolute;
  left: 0px;
  top: 370px;
  width: 205px;
  background: transparent !important;
  border-radius: 15px;
  box-shadow: none;
  --background: transparent;
  --border-width: 0;
  --border-style: none;

  ion-card-header {
    padding: 10px;
    background: transparent;
    
    ion-card-title {
      font-size: 16px;
      color: #ffffff;
      text-align: center;
    }
  }

  ion-card-content {
    padding: 10px;
    color: #ffffff;
    background: transparent;
    
    h2 {
      font-size: 14px;
      margin-bottom: 8px;
    }

    p {
      font-size: 12px;
      margin: 5px 0;
    }
  }
}

.v1_350 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 53px;
  left: 30px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v1_352 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 31px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.v1_348 {
  width: 85px;
  height: 107px;
  background: rgba(49,146,234,1);
  opacity: 1;
  position: absolute;
  top: 510px;
  left: 70px;
  border: 1px solid rgba(0,0,0,1);
}

.v1_351 {
  width: 85px;
  height: 107px;
  background: rgba(49,146,234,1);
  opacity: 1;
  position: absolute ;
  top: 330px;
  left: 70px;
  border: 1px solid rgba(0,0,0,1);
}

ion-button {
  --border-width: 10; /* Eliminar el borde */
}

.extra-space {
  margin-top: 180px; 
}

.centered-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px; /* Ajusta el espacio superior según lo necesites */
  text-align: center;
}


.table-container table thead tr th {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.table-container table tbody tr td:first-child {
  color: #fcfcfc;
  font-size: 35px;
  font-weight: bold;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.centered-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 90%;
  max-width: 600px;
}

.logo-image {
  position: absolute;
  left: 85%;
  transform: translateX(-50%);
  top: 37px; 
  width: 300px; 
  z-index: -1;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.cuadrante-details,
.estanque {
  z-index: 10; /* Más alto que el logo */
}

.v1_350 {
  display: inline-block;
  font-size: 12px; /* Tamaño de fuente más pequeño */
  padding: 8px 12px; /* Ajusta el relleno según necesites */
  color: white; /* Color del texto */
  border: none;
  border-radius: 100px; /* Bordes redondeados */
  text-align: center;
  text-decoration: none;
  margin: -3px 2px;
  transition-duration: 0.4s; /* Transición suave */
  cursor: pointer;
}

.v1_349 {
  display: inline-block;
  font-size: 12px; /* Tamaño de fuente más pequeño */
  padding: 8px 12px; /* Ajusta el relleno según necesites */
  color: white; /* Color del texto */
  background: rgba(7,25,31,0.5299999713897705);
  border: none;
  border-radius: 100px; /* Bordes redondeados */
  text-align: center;
  text-decoration: none;
  margin: -10px 2px;
  transition-duration: 0.4s; /* Transición suave */
  cursor: pointer;
}

.stanque-btn:hover {
  background-color: white; /* Fondo blanco al pasar el ratón */
  color: black; /* Texto negro al pasar el ratón */
  border: 2px solid #4CAF50; /* Borde verde al pasar el ratón */
}

/* Barra individual de la batería */
.barra {
  width: 80%;
  height: 20%; /* Altura relativa a la batería */
  margin: 2px 0; /* Espaciado entre barras */
  background-color: gray; /* Color inicial (gris) */
  border-radius: 2px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Animación suave al cambiar color */
}

.bateria1 {
  width: 85px;          /* Tamaño por defecto */
  height: 107px;        /* Tamaño por defecto */
  border: 2px solid #333; /* Borde de la batería */
  border-radius: 5px;   /* Bordes redondeados */
  position: relative;   
  margin: 20px auto;    /* Centrado */
  background-color: #e0e0e0; /* Fondo gris */
  display: flex;
  flex-direction: column; /* Barras apiladas */
  align-items: center;    /* Centrar barras horizontalmente */
  justify-content: flex-end; /* Apilar barras desde abajo */

  /* Posición inicial (específica para el diseño) */
  position: absolute;
  top: 250px;
  left: 70px;
  opacity: 1;
}

ion-button.water-button {
  position: relative;
  width: 5rem; 
  height: 3rem; 
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .border {
    width: 100%;
    height: 100%;
    stroke: rgb(65, 156, 213);
    stroke-width: 1.5px;
    fill: none;
    stroke-dasharray: 25;
    animation: 4s linear infinite stroke-animation;
    transition: fill 0.25s;
  }

  &:hover .border {
    fill: #0001;
  }

  &:focus .border {
    transition: fill 0.25s 7.75s;
    fill: #0000;
  }

  .txt-upload {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #1399e1;
    font-weight: bold;
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.boton_media {
  display: none;
}

/* Estilo para dispositivos tablet */
@media (max-width: 1200px) {

  .predicciones-card-media {
    display: block;
  }

  .predicciones-card {
    display: none;
  }

  .extra-space {
    display: none;
  }

  .v1_346 {
    display: none;
  }

  .boton_media {
    display: block;
    font-size: 10px; 
    padding: 8px 8px; 
    z-index: 10; 
    color: #fcfcfc;
  }

  .v1_352 {
    display: none;
  }

  .table-container {
    overflow-x: auto; 
  }

  .v1_348, .v1_351 {
    display: none;
  }

  .logo-image {
    display: none;
  }

  /* Quita el borde inferior en la última celda de cada fila */
  .table-container tbody tr td:last-child {
    border-bottom: none;
  }

  .bateria {
    width: 60px;
    height: 120px;
    border: 2px solid #333; /* Borde de la batería */
    border-radius: 5px; /* Bordes redondeados */
    position: relative;
    margin: 20px auto; /* Centrado */
    background-color: #e0e0e0; /* Fondo gris */
    display: flex;
    flex-direction: column; /* Barras apiladas */
    align-items: center; /* Centrar barras horizontalmente */
    justify-content: flex-end; /* Apilar barras desde abajo */
  }

  .bateria1 { 
    display: none;
  }


   //Botones tabla

  ion-button.water-button {
    width: 4rem; 
    height: 3rem; 
    padding: 0;
    margin: 0.2rem;

    svg {
      width: 85%; 
      height: 85%;
    }

    .txt-upload {
      font-size: 13px; /* Texto más pequeño */
    }

    .border {
      stroke-width: 1px; /* Borde más delgado */
    }
  }

  /* Estilos de botón personalizado */
.boton_media {
  border: 0;
  outline: 0;
  color: #fff;
  padding: 20px; 
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;  /* Ocupa todo el ancho de la pantalla */
}

.liquid {
  background-color: #2893eb;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: inset 5px -5px 25px #104e81,
    inset -5px 0px 25px #104e81;
}

.liquid::after,
.liquid::before {
  content: '';
  width: 450px;
  height: 400px;
  background: rgb(31, 126, 227);
  z-index: 1;
  position: absolute;
  left: -110px;
  top: -380px;
  border-radius: 45%;
  animation: animate 5s linear infinite;
}

.liquid::before {
  background-color: rgb(68, 160, 235);
  animation: animate 5s linear 1.8s infinite;
}

.btn-txt {
  position: relative;
  z-index: 1;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

/* Animación para el efecto de líquido */
@keyframes animate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
}

/* Estilo para dispositivos móviles */
@media (max-width: 480px) {

  .predicciones-card-media {
    display: block;
  }

  .predicciones-card {
    display: none;
  }

  .extra-space {
    display: none;
  }

  .v1_346 {
    display: none;
  }

  .boton_media {
    display: block;
    font-size: 10px; 
    padding: 8px 8px; 
    z-index: 10; 
    color: #fcfcfc;
  }

  .v1_352 {
    display: none;
  }

  .table-container {
    overflow-x: auto; 
  }

  .v1_348, .v1_351 {
    display: none;
  }

  .logo-image {
    display: none;
  }

  /* Convierte el cuerpo de la tabla en flex para apilar las filas horizontalmente */
  .table-container table tbody {
    display: flex;
    flex-wrap: nowrap;
  }

  /* Ajuste para cada fila */
  .table-container tbody tr {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 1;
  }

  /* Ocultar el encabezado en dispositivos móviles */
  .table-container thead {
    display: none;
  }

  /* Coloca los números de fila (1, 2, 3) como un título de columna */
  .table-container tbody td:first-child {
    font-weight: bold;
    text-align: center;
  }

  /* Alinear celdas como columna */
  .table-container tbody td {
    display: block;
    text-align: center;
    padding: 8px;
  }

  /* Quita el borde inferior en la última celda de cada fila */
  .table-container tbody tr td:last-child {
    border-bottom: none;
  }

  .bateria {
    width: 60px;
    height: 120px;
    border: 2px solid #333; /* Borde de la batería */
    border-radius: 5px; /* Bordes redondeados */
    position: relative;
    margin: 20px auto; /* Centrado */
    background-color: #e0e0e0; /* Fondo gris */
    display: flex;
    flex-direction: column; /* Barras apiladas */
    align-items: center; /* Centrar barras horizontalmente */
    justify-content: flex-end; /* Apilar barras desde abajo */
  }

  .bateria1 { 
    display: none;
  }


   //Botones tabla

  ion-button.water-button {
    width: 4rem; 
    height: 3rem; 
    padding: 0;
    margin: 0.2rem;

    svg {
      width: 85%; 
      height: 85%;
    }

    .txt-upload {
      font-size: 13px; /* Texto más pequeño */
    }

    .border {
      stroke-width: 1px; /* Borde más delgado */
    }
  }

  /* Estilos de botón personalizado */
.boton_media {
  border: 0;
  outline: 0;
  color: #fff;
  padding: 20px; 
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;  /* Ocupa todo el ancho de la pantalla */
}

.liquid {
  background-color: #2893eb;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: inset 5px -5px 25px #104e81,
    inset -5px 0px 25px #104e81;
}

.liquid::after,
.liquid::before {
  content: '';
  width: 450px;
  height: 400px;
  background: rgb(31, 126, 227);
  z-index: 1;
  position: absolute;
  left: -110px;
  top: -380px;
  border-radius: 45%;
  animation: animate 5s linear infinite;
}

.liquid::before {
  background-color: rgb(68, 160, 235);
  animation: animate 5s linear 1.8s infinite;
}

.btn-txt {
  position: relative;
  z-index: 1;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

/* Animación para el efecto de líquido */
@keyframes animate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
}